<div class="form2">


    <form [formGroup]="formSing" (ngSubmit)="onSubmit()">
        <!-- họ tên k chưa khoảng cách ex: Cao Duy Hải -->
        <div class="form-group">
            <label for="">Họ tên</label>
            <input type="text" formControlName="name">
        </div>
        <span *ngIf="isInvalidControl('name')" class="err">error name</span>

        <!-- k chứa khoảng cách -->
        <div class="form-group">
            <label for="">Giới tính</label>
            <input type="text" formControlName="gender">
        </div>
        <!-- kiểu số -->
        <div class="form-group">
            <label for="">Ngày sinh</label>
            <input type="text" formControlName="dob">
        </div>
        <!-- kiểu số -->
        <div class="form-group">
            <label for="">Số CMND</label>
            <input type="tel" formControlName="id">
        </div>
        <span *ngIf="isInvalidControl('id')" class="err">Input value must be numeric </span>

        <!-- kiểu số -->
        <div class="form-group">
            <label for="">Điện thoại</label>
            <input type="text" formControlName="phone">
        </div>
        <span *ngIf="isInvalidControl('phone')" class="err">Input value must be numeric </span>

        <!-- hai@ci.com -->
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" formControlName="email">
        </div>
        <span *ngIf="isInvalidControl('email')" class="err">Input value email error </span>

        <!-- k có khoảng cách có độ dài -->
        <div class="form-group">
            <label for="">Địa chỉ</label>
            <input type="text" formControlName="adress">
        </div>
        <!-- k có khoảng cách kt đặc biệt số và chữ cái chữ cái đầu viết hoa -->
        <div class="form-group">
            <label for="">Mật khẩu</label>
            <input type="text" formControlName="password">
        </div>
        <span *ngIf="isInvalidControl('password')" class="err">error password</span>
        <!-- khớp mật khẩu -->
        <div class="form-group">
            <label for="">Nhập lại mật khẩu</label>
            <input type="text" formControlName="confirn">
        </div>

        <div class="form-group">
            <button type="submit">Submit</button>
        </div>

    </form>
    <div>
        {{formSing.value| json}}
    </div>

</div>